* {
    margin: 0;
    padding: 0;
}

/*PHONE LAYOUT*/

/*EMAIL CONTACT START*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  section {
    height: 100vh;
    width: 100%;
}

.email-page{
    background: url(https://th.bing.com/th/id/R29705aec740adc5f2fa662e346cb503a?rik=0BltsXwd2klptA&pid=ImgRaw);
    background-size: cover;
    height: 100vh;
}
  .container {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 0px 20px #00000010;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  .form-group {
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
  }
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 5px;
    font-size: 18px;
    border: 1px solid rgba(128, 128, 128, 0.199);
    margin-top: 5px;
  }
  
  textarea {
    resize: none;
    height: 35px;
    width: fit-content;
  }
  button[type="submit"] {
    width: 100%;
    border: none;
    outline: none;
    padding: 20px;
    font-size: 24px;
    border-radius: 8px;
    font-family: "Montserrat";
    color: rgb(27, 166, 247);
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s ease background-color;
  }
  button[type="submit"]:hover {
    background-color: rgb(214, 226, 236);
  }
  #status {
    width: 90%;
    max-width: 500px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    border-radius: 8px;
  }
  #status.success {
    background-color: rgb(211, 250, 153);
    animation: status 4s ease forwards;
  }
  #status.error {
    background-color: rgb(250, 129, 92);
    color: white;
    animation: status 4s ease forwards;
  }
  @keyframes status {
    0% {
      opacity: 1;
      pointer-events: all;
    }
    90% {
      opacity: 1;
      pointer-events: all;
    }
    100% {
      opacity: 0;
      pointer-events: none;
    }
  }

  .nav2{
    height: 40px;
    background: #111;
    text-align: center;
}

.nav2 div{
    display: inline-block;
    position: absolute;
    left: 0;
    padding: 0px;
    size: 25px;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}


.nav2 ul{
    position: absolute;

    right: 5px;
}

.nav2 ul li{

    display: inline-block;
}

.nav2 ul li a{
    text-align: center;
    text-decoration: underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    padding: 5px;
}

.nav2 ul li a{
    text-align: center;
    text-decoration: underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    padding: 5px;
}

/*EMAIL CONTACT END*/

/*NAV START*/

.nav{
    height: 40px;
    background: #111;
    text-align: center;
}

.nav div{
    display: inline-block;
    position: absolute;
    left: 0;
    padding: 0px;
    size: 30px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}


.nav ul{
    position: absolute;

    right: 5px;
}

.nav ul li{

    display: inline-block;
}

.nav ul li a{
    text-align: center;
    text-decoration: underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    padding: 5px;
}

.nav ul li a{
    text-align: center;
    text-decoration: underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    padding: 5px;
}

/*NAV END*/

/*HOME START*/
.wrapper {
    width: 100%;
}

.hugo-dev-banner {
  display: none;
}

.quote-1{
    display: none;
 }


.img-info {
    width: 100%;
}

.img-info h2{
    padding: 30px 30px 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    color: #111;
    line-height: 44px;
}

.img-info p{
    padding: 0px 30px 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    color: #111;
    line-height: 24px;
}



/*HOME END*/

/*ABOUT US START*/

.wrapper {
    width: 100%;
}

.hugo-dev-banner {
  display: none;
}


.About-us {
    width: 100%;
}

.About-us h2{
    padding: 30px 30px 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    color: #111;
    line-height: 44px;
    text-decoration: underline;
}

.About-us p{
    padding: 0px 30px 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    color: #111;
    line-height: 24px;
}

/*ABOUT US END*/

/*SERVICES START*/

.services h2{
    padding: 30px 30px 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    color: #111;
    line-height: 44px;
    text-decoration: underline;
}

 .card-container ul{
    padding: 0;
}
.card-container ul li{
    list-style: none;
    display: inline-block;
  margin: 20px;
  width: 300px;
}
.card-container ul li p{
    text-align: justify;
    color: #111;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*SERVICES END*/

/*CONTACT US PAGE START*/

.contact-info{
    width: 100%;
}

.contact-info h2{
    padding: 30px 30px 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    color: #111;
    line-height: 44px;
    text-decoration: underline;
    text-align: center;
}

.contact-info p{
    padding: 30px 30px 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    color: #111;
    line-height: 44px;
    text-align: center;
}

/*CONTACT US PAGE END*/

/*ERROR 404 START*/  

.error-page{
    width: 100%;
}

.error-page h2{
    padding: 30px 30px 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 75px;
    color: #111;
    line-height: 44px;
    text-align: center;
}

.error-page p{
    padding: 30px 30px 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    color: #111;
    line-height: 44px;
    text-align: center;
}

/*ERROR 404 END*/

/*COPYRIGHT*/

.copyright{
    text-align: end;
    padding: 0px 30px 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10px;
    color: #111;
    line-height: 24px;

}


/*TABLET LAYOUT*/
@media only screen and (min-width: 768px) {
    
    /*HOME SCREEN START*/
    .hugo-dev-banner {
        display: block;
        width: 100%;
        padding-bottom: 30px;
      }

      .wrapper {
        width: 600px;
        margin: 0 auto;
    }

    .img-info h2{
        padding: 20px 0px 0px;
    }
    
    .img-info p{
        padding: 20px 0px 0px;
    }

    

    .nav ul li a{
        font-size: xx-large;
    }

    .quote-1{
       display: none;
    }

    /*HOME SREEN END*/

    /*ABOUT US START*/

    .hugo-dev-banner {
        display: block;
        width: 100%;
        padding-bottom: 30px;
      }

      .wrapper {
        width: 600px;
        margin: 0 auto;
    }

    .About-us h2{
        padding: 20px 0px 0px;
    }
    
    .About-us p{
        padding: 20px 0px 0px;
    }

     /*ABOUT US END*/
}

/*COMPUTER LAYOUT*/
@media only screen and (min-width: 1000px) {
    
    /*HOME SCREEN START*/

      .wrapper {
        width: 1000px;
    }

    .img-info{
        width: 50%;
        float: right;
    }


    .quote-1{
        display: block;
        padding-top: 0px;
        width: 50%;
        float: left;
    }

    .nav ul li a{
        font-size: xx-large;
    }

    .img-info h2{
        padding: 20px 0px 0px 30px;

    }
    
    .img-info p{
        padding: 20px 0px 0px 30px;
        
    }

    .img-info-2 h2{
        padding: 20px 0px 0px 30px;
color: white;
    }
    
    .img-info-2 p{
        padding: 20px 0px 0px 30px;
        color: white;
    }

    /*HOME SREEN END*/

    /*ABOUT START*/

    
    .wrapper {
        width: 1000px;
    }

    .About-us{
        width: 100%;
        float: center;
    }


    .About-us h2{
        padding: 20px 0px 0px 30px;
        text-align: center;
    }
    
    .About-us p{
        padding: 20px 0px 0px 30px;
    }

    /*ABOUT END*/
}