@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');

.nav{
    height: 25px;
    background: transparent;
}

.nav div{
    display: inline-block;
    position: absolute;
    left: 0;
    padding: 15px;
    font-size: 20px;
    font-family: 'Squada One', cursive;
    color: gray;
}

.nav ul{
    position: absolute;
    right: 5px;
}

.nav ul li{
    display: inline-block;
}

.nav ul li a{
    text-decoration: underline;
    font-family: 'Squada One', cursive;
    color: black;
    font-size: 22px;
    padding: 5px;
}

.nav2 div{
  display: inline-block;
  position: absolute;
  left: 0;
  padding: 15px;
  font-size: 20px;
  font-family: 'Squada One', cursive;
  color: gray;
}

.nav2 ul{
  position: absolute;
  right: 5px;
}

.nav2 ul li{
  display: inline-block;
}

.nav2 ul li a{
  text-decoration: underline;
  font-family: 'Squada One', cursive;
  color: black;
  font-size: 22px;
  padding: 5px;
}
.home{
    background: url('https://th.bing.com/th/id/R9a6da8e743c219e27cf2c8b1ef712708?rik=zKZeF3yHRcFYaw&pid=ImgRaw');
    background-size: cover;
    height: 100vh;
}

.home .text-contanier{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    font-size: large;
    color: black;

}



.about .about-content{
    margin: 150px auto 0 auto;
    width: 500px;
}

.about .about-content h1{
    text-align: center;
    color: #5d8aa8;
    font-family: 'Squada One', cursive;
}
.about .about-content p{
    text-align: justify;
    color:black;
    font-family: 'Squada One', cursive;
    font-size: large;
}


.services .service-content h1{
    text-align: center;
    color: #5d8aa8;
    font-family: 'Squada One', cursive;
}

.service-content .card-container ul{
    padding: 0;
}.service-content .card-container ul li{
    list-style: none;
    display: inline-block;
  margin: 20px;
  width: 300px;
}
.service-content .card-container ul li p{
    text-align: justify;
    color: #5d8aa8;
    font-family: 'Squada One', cursive;
}

@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Roboto', sans-serif;
  }

  section {
    height: 100vh;
    width: 100%;
 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 25px;
  }

.container{
   width: 85%;
   max-width: 600px;
   background: white;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 30px 40px;
   box-sizing: border-box;
   border-radius: 8px;
   text-align: center;
   box-shadow: 0 0 20px #000000b3;
}
    

  .form-group {
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
  }
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 5px;
    font-size: 18px;
    border: 1px solid rgba(128, 128, 128, 0.199);
    margin-top: 5px;
  }
  
  textarea {
    resize: none;
  }
  button[type="submit"] {
    width: 100%;
    border: none;
    outline: none;
    padding: 20px;
    font-size: 24px;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    background-color: #5d8aa8;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s ease background-color;
  }
  button[type="submit"]:hover {
    background-color: rgb(214, 226, 236);
  }
  #status {
    width: 90%;
    max-width: 500px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    border-radius: 8px;
  }
  #status.success {
    background-color: rgb(211, 250, 153);
    animation: status 4s ease forwards;
  }
  #status.error {
    background-color: rgb(250, 129, 92);
    color: white;
    animation: status 4s ease forwards;
  }
  @keyframes status {
    0% {
      opacity: 1;
      pointer-events: all;
    }
    90% {
      opacity: 1;
      pointer-events: all;
    }
    100% {
      opacity: 0;
      pointer-events: none;
    }
  }